{{ define "header" }}
	<link rel="stylesheet" type="text/css" href="/static/css/uikit/components/tooltip.almost-flat.css">
{{ end }}

{{ define "body" }}
<h2>Endpoints</h2>

<a href="/endpoints/endpoint/" class="uk-button"><i class="uk-icon-plus"></i> Create</a>

<table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
	<thead>
		<tr>
			<th>Name</th>
			<th>Local HTTP</th>
			<th>Local HTTPS</th>
			<th>Remote</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		{{ range .Endpoints }}
		<tr>
			<td>{{ .Name }}</td>
			<td>{{ with .ErrorHTTP }}<i class="uk-icon-warning" data-uk-tooltip title="{{ . }}"></i>{{ end }}
				{{ if eq .StatusHTTP "started" }}
				<div class="uk-badge uk-badge-success">started</div>
				{{ else if eq .StatusHTTP "stopped" }}
				<div class="uk-badge">stopped</div>
				{{ else if eq .StatusHTTP "error" }}
				<div class="uk-badge uk-badge-warning">error</div>
				{{ else }}
				{{ .StatusHTTP }}
				{{ end }}
				{{ .LocalHTTP }}</td>
			<td>{{ with .ErrorHTTPS }}<i class="uk-icon-warning" data-uk-tooltip title="{{ . }}"></i>{{ end }}
				{{ if eq .StatusHTTPS "started" }}
				<div class="uk-badge uk-badge-success">started</div>
				{{ else if eq .StatusHTTPS "stopped" }}
				<div class="uk-badge">stopped</div>
				{{ else if eq .StatusHTTPS "error" }}
				<div class="uk-badge uk-badge-warning">error</div>
				{{ else }}
				{{ .StatusHTTP }}
				{{ end }}
				{{ .LocalHTTPS }}</td>
			<td>{{ .Remote }}</td>
			<td>
				<a href="/endpoints/endpoint/{{ .Name }}">Edit</a>
				|
				{{ if .Running }}
				<a href="/endpoints/endpoint/{{ .Name }}/stop">Stop</a>
				{{ else }}
				<a href="/endpoints/endpoint/{{ .Name }}/start">Start</a>
				{{ end }}
			</td>
		</tr>
		{{ end }}
	</tbody>
</table>
{{ end }}

{{ define "scripts" }}
	<script src="/static/js/uikit/components/tooltip.js"></script>
{{ end }}
