{{define "base"}}
{{$ctx := .}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>SecProxy Admin Panel</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="cleartype" content="on">
		<meta name="viewport" content="width=device-width,height=device-height,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
		<meta name="mobile-web-app-capable" content="yes">
	     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" type="text/css" href="/static/css/uikit/uikit.almost-flat.css">
		{{template "header" . }}
		<link rel="stylesheet" href="/static/css/main.css" type="text/css"	/>
	</head>
	<body>
		<nav class="uk-navbar">
			<a href="/" class="uk-navbar-brand">SecProxy</a>
		</nav>
		<div class="uk-container uk-width-1-1 uk-container-center uk-margin-top uk-margin-large-bottom">
			<div class="uk-grid" data-uk-grid-margin>
				<div class="tm-sidebar uk-width-1-5">
					<div data-uk-sticky="{top:30}">
					<div class="uk-panel uk-panel-box">
						<ul class="tm-nav uk-nav uk-nav-side" data-uk-nav>
							<li class="uk-nav-header">Endpoints</li>
							{{ if $ctx.HasUserRole "ADMIN" }}
							<li {{ if $ctx.URLStartsWith "/endpoints" }} class="uk-active" {{ end }}><a href="/endpoints/">Configuration</a></li>
							{{ end }}
							<li{{ if $ctx.URLStartsWith "/stats" }} class="uk-active" {{ end }}><a href="/stats">Stats</a></li>
							{{ if $ctx.HasUserRole "ADMIN" }}
							<li class="uk-nav-header">Admin</li>
							<li{{ if $ctx.URLStartsWith "/users" }} class="uk-active" {{ end }} ><a href="/users/">Users</a></li>
							<li{{ if $ctx.URLStartsWith "/logs" }} class="uk-active" {{ end }} ><a href="/logs">Logs</a></li>
							<li{{ if $ctx.URLStartsWith "/certs" }} class="uk-active" {{ end }} ><a href="/certs/">Certs</a></li>
							{{ end }}
							<li class="uk-nav-header"></li>
							<li {{ if $ctx.URLStartsWith "/chpass" }} class="uk-active" {{ end }}><a href="/chpass">Change pass.</a></li>
							<li><a href="/logout">Logout</a></li>
						</ul>
					</div>
					</div>
				</div>
				<div class="tm-main uk-width-4-5">
					<main>
					{{ template "flash" . }}
					{{ template "body" . }}
					</main>
				</div>
			</div>
		</div>
	</body>

	<script src="/static/js/jquery.js" type="text/javascript" ></script>
	<script src="/static/js/jquery.validate.js" type="text/javascript" ></script>
	<script src="/static/js/uikit/uikit.js"></script>
	<script src="/static/js/uikit/components/sticky.js"></script>
	<script type="text/javascript" charset="utf-8">
		$(function() {
			$('.message .close').on('click', function() {
				$(this).closest('.message').transition('fade');
			});
		});
	</script>
	<!-- START template scripts -->
	{{template "scripts" .}}
	<!-- END template scripts -->
</html>
{{end}}
