{{ define "header" }}
	<link rel="stylesheet" type="text/css" href="/static/css/uikit/components/tooltip.almost-flat.css">
{{ end }}

{{ define "body" }}
<h2>Stats</h2>
<table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
	<thead>
		<tr>
			<th class="uk-width-1-6">Endpoint</th>
			<th class="uk-width-1-6">Status HTTP</th>
			<th class="uk-width-1-6">Status HTTPS</th>
			<th class="uk-width-1-6">Auth Success</th>
			<th class="uk-width-1-6">Auth 401</th>
			<th class="uk-width-1-6">Auth 403</th>
			<th class="uk-width-1-6">Fail</th>
			<th class="uk-width-1-6">Total</th>
		</tr>
	</thead>
	<tbody>
		{{ range .Stats }}
		<tr>
			<td>{{ .Endpoint }}</td>
			<td>{{ .StatusHTTP }}
				{{ with .ErrorHTTP }}<i class="uk-icon-warning" data-uk-tooltip title="{{ . }}"></i>{{ end }}
			</td>
			<td>{{ .StatusHTTPS }}
				{{ with .ErrorHTTPS }}<i class="uk-icon-warning" data-uk-tooltip title="{{ . }}"></i>{{ end }}
			</td>
			<td>{{ .Success }}</td>
			<td>{{ .Status401}}</td>
			<td>{{ .Status403}}</td>
			<td>{{ .Fail }}</td>
			<td>{{ .Total }}</td>
		</tr>
		{{ end }}
	</tbody>
</table>

{{ end }}

{{ define "scripts" }}
	<script src="/static/js/uikit/components/tooltip.js"></script>
{{ end }}
