{{ define "header" }}
	<link rel="stylesheet" type="text/css" href="/static/css/uikit/components/tooltip.almost-flat.css">
{{ end }}

{{ define "body" }}
<h2>Stats</h2>
<table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
	<thead>
		<tr>
			<th class="uk-width-1-6">Endpoint</th>
			<th class="uk-width-1-6">Status</th>
			<th class="uk-width-1-6">Status-SSL</th>
			<th class="uk-width-1-6">Auth Success</th>
			<th class="uk-width-1-6">Auth 401</th>
			<th class="uk-width-1-6">Auth 403</th>
			<th class="uk-width-1-6">All Requests</th>
		</tr>
	</thead>
	<tbody>
		{{ range .Stats }}
		<tr>
			<td>{{ .Endpoint }}</td>
			<td>{{ .Status }}
				{{ with .Error }}<i class="uk-icon-warning" data-uk-tooltip title="{{ . }}"></i>{{ end }}
			</td>
			<td>{{ .StatusSSL }}
				{{ with .ErrorSSL }}<i class="uk-icon-warning" data-uk-tooltip title="{{ . }}"></i>{{ end }}
			</td>
			<td>{{ .Success }}</td>
			<td>{{ .Unauthorized }}</td>
			<td>{{ .Fail }}</td>
			<td>{{ .All }}</td>
		</tr>
		{{ end }}
	</tbody>
</table>

<div class="uk-panel uk-panel-box uk-margin-bottom">
	<h3 class="uk-panel-title">Raw stats</h3>
	<ul>
		<li><a href="/stats/admin">Admin panel</a></li>
		<li><a href="/stats/server">Server</a></li>
	</ul>
</div>

{{ end }}

{{ define "scripts" }}
	<script src="/static/js/uikit/components/tooltip.js"></script>
{{ end }}
